.title,
.fa-star {
  color: coral;
}
.btn-book {
  background-color: rgb(248, 112, 62);

  color: white;
}
.btn-book:hover {
  background-color: #7d7673f8;
}
.img-body {
  overflow: hidden;
}
.card-img{
  height: 225px;
}
.card:hover .card-img {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
  overflow-wrap: inherit;
  
}